@inherits DemoModuleWebPage
@using Demo.DnnConnect.DemoModule.Common
@{
  DemoModuleModuleContext.AddModuleScript();
}

<h1>Hello DemoModule Module</h1>

<div class="DemoDemoModule DemoModule"
     data-locale="@System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-tabid="@Dnn.ActiveModule.TabID"
     data-portalid="@Dnn.PortalSettings.PortalId"
     data-resources="@SerializedResources()"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(DemoModuleModuleContext.Security))"
     >
</div>
