@inherits DemoModuleWebPage<Demo.DnnConnect.Core.Models.Companies.Company>
@using Demo.DnnConnect.DemoModule.Common
@{
  DemoModuleModuleContext.AddModuleScript();
}

<h1>Hello @Model.CompanyName</h1>

<table>
  <thead>
    <tr>
      <th>Model</th>
      <th>Serial Nr</th>
      <th>Location</th>
      <th>Expires</th>
      <th>Created By</th>
      <th>Created On</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var p in Demo.DnnConnect.Core.Repositories.ProductRepository.Instance.GetProductsByCompany(Model.CompanyId))
    {
      <tr>
        <td>@p.ModelName</td>
        <td>@p.SerialNr</td>
        <td>@p.Location</td>
        <td>@p.ExpiryDate</td>
        <td>@p.CreatedByUserDisplayName</td>
        <td>@p.CreatedOnDate</td>
      </tr>
    }
  </tbody>
</table>

<a href="@Url.Action("Index", "Home")">Back</a>